* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}
// gba(105,218,242,0.2);

.ipad {
  margin: 0 auto;
  margin-top: 50px;
  background-color: rgba(19,133,234,0.26);
  height: 600px;
  width: 500px;
  border: 40px solid black;
  border-radius: 30px;
  position: relative;
  z-index: 0;

  .title {
    width: 220px;
    margin: 0 auto;
    font-size: 35px;
  }

  .circle {
    position: absolute;
    bottom: -52px;
    left: 50%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    z-index: 1;
    border: 1px solid white;
  }

  .webCam {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: -15px;
    background-color: grey;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    transform: translateX(-50%);
  }

  .searchBar {
    position: relative;
    padding-top: 20px;
    margin: 0 auto;
    width: 137px;
    height: 50px;

    .input {
      padding-left: 10px;
      height: 24px;
      box-shadow: 0;
      border: 1px solid grey;
      border-radius: 20px;
    }

    .button {
      color: white;
      margin-top: 5px;
      width: 48px;
      display: block;
      position: absolute;
      border: 1px solid black;
      background-color: black;
      border-radius: 15px;
      left: 40px;

      &:active {
        box-shadow: 0 0 2px black;
      }
    }
  }

  .cityName {
    width: 200px;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    color: black;
  }

  .sunny {
    animation: sunny 15s linear infinite;
    background-color: rgba(255,255,0,0.2);
    height: 140px;
    width: 20px;
    margin: 0 auto;
    position: relative;

    &:before {
      background-color: rgba(255,255,0,0.2);
      content: '';
      height: 140px;
      width: 20px;
      opacity: 1;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: rotate(90deg);
    }

    &:after {
      background: #FFEE44;
      border-radius: 50%;
      box-shadow: rgba(255,255,0,0.2) 0 0 0 15px;
      content: '';
      height: 80px;
      width: 80px;
      position: absolute;
      left: -30px;
      top: 30px;
    }
  }
  @keyframes sunny {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .cloud {
    animation: cloudy 5s ease-in-out infinite;
    background: white;
    border-radius: 50%;
    box-shadow: white 65px -15px 0 -5px, white 25px -25px, white 30px 10px, white 60px 15px 0 -10px, white 85px 5px 0 -5px;
    height: 50px;
    width: 50px;
    position: relative;
    margin: 0 auto;
    top: 60px;
    left: -40px;

    &:after {
      animation: cloudy_shadow 5s ease-in-out infinite;
      background: #000000;
      border-radius: 50%;
      content: '';
      height: 15px;
      width: 120px;
      opacity: 0.2;
      position: absolute;
      left: 5px;
      bottom: -60px;
      transform: scale(1);
    }
    @keyframes cloudy {
      50% {
        transform: translateY(-20px);
      }
    }
    @keyframes cloudy_shadow {
      50% {
        transform: translateY(20px) scale(.7);
        opacity: 0.05;
      }
    }
  }

  .rainy {
    animation: rainy 5s ease-in-out infinite 1s;
    background: #CCCCCC;
    border-radius: 50%;
    box-shadow: #CCCCCC 65px -15px 0 -5px, #CCCCCC 25px -25px, #CCCCCC 30px 10px, #CCCCCC 60px 15px 0 -10px, #CCCCCC 85px 5px 0 -5px;
    display: block;
    height: 50px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    left: -40px;
    top: 60px;
  }

  .rainy:after {
    animation: rainy_shadow 5s ease-in-out infinite 1s;
    background: #000000;
    border-radius: 50%;
    content: '';
    height: 15px;
    width: 120px;
    opacity: 0.2;
    position: absolute;
    left: 5px;
    bottom: -60px;
    transform: scale(1);
  }

  .rainy:before {
    animation: rainy_rain 0.7s infinite linear;
    content: '';
    background: #CCCCCC;
    border-radius: 50%;
    display: block;
    height: 6px;
    width: 3px;
    opacity: 0.3;
    transform: scale(.9);
  }
  @keyframes rainy {
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes rainy_shadow {
    50% {
      transform: translateY(20px) scale(.7);
      opacity: 0.05;
    }
  }
  @keyframes rainy_rain {
    0% {
      box-shadow: rgba(0,0,0,0) 30px 30px, rgba(0,0,0,0) 40px 40px, #000 50px 75px, #000 55px 50px, #000 70px 100px, #000 80px 95px, #000 110px 45px, #000 90px 35px;
    }

    25% {
      box-shadow: #000 30px 45px, #000 40px 60px, #000 50px 90px, #000 55px 65px, rgba(0,0,0,0) 70px 120px, rgba(0,0,0,0) 80px 120px, #000 110px 70px, #000 90px 60px;
    }

    26% {
      box-shadow: #000 30px 45px, #000 40px 60px, #000 50px 90px, #000 55px 65px, rgba(0,0,0,0) 70px 40px, rgba(0,0,0,0) 80px 20px, #000 110px 70px, #000 90px 60px;
    }

    50% {
      box-shadow: #000 30px 70px, #000 40px 80px, rgba(0,0,0,0) 50px 100px, #000 55px 80px, #000 70px 60px, #000 80px 45px, #000 110px 95px, #000 90px 85px;
    }

    51% {
      box-shadow: #000 30px 70px, #000 40px 80px, rgba(0,0,0,0) 50px 45px, #000 55px 80px, #000 70px 60px, #000 80px 45px, #000 110px 95px, #000 90px 85px;
    }

    75% {
      box-shadow: #000 30px 95px, #000 40px 100px, #000 50px 60px, rgba(0,0,0,0) 55px 95px, #000 70px 80px, #000 80px 70px, rgba(0,0,0,0) 110px 120px, rgba(0,0,0,0) 90px 110px;
    }

    76% {
      box-shadow: #000 30px 95px, #000 40px 100px, #000 50px 60px, rgba(0,0,0,0) 55px 35px, #000 70px 80px, #000 80px 70px, rgba(0,0,0,0) 110px 25px, rgba(0,0,0,0) 90px 15px;
    }

    100% {
      box-shadow: rgba(0,0,0,0) 30px 120px, rgba(0,0,0,0) 40px 120px, #000 50px 75px, #000 55px 50px, #000 70px 100px, #000 80px 95px, #000 110px 45px, #000 90px 35px;
    }
  }

  .stormy {
    animation: stormy 5s ease-in-out infinite;
    background: #222222;
    border-radius: 50%;
    box-shadow: #222222 65px -15px 0 -5px, #222222 25px -25px, #222222 30px 10px, #222222 60px 15px 0 -10px, #222222 85px 5px 0 -5px;
    height: 50px;
    width: 50px;
    position: relative;
    margin: 0 auto;
    left: -40px;
    top: 60px;
  }

  .stormy:after {
    animation: stormy_shadow 5s ease-in-out infinite;
    background: #000;
    border-radius: 50%;
    content: '';
    height: 15px;
    width: 120px;
    opacity: 0.2;
    position: absolute;
    left: 5px;
    bottom: -60px;
    transform: scale(1);
  }

  .stormy:before {
    animation: stormy_thunder 2s steps(1, end) infinite;
    border-left: 0 solid transparent;
    border-right: 7px solid transparent;
    border-top: 43px solid yellow;
    box-shadow: yellow -7px -32px;
    content: '';
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    left: 57px;
    top: 70px;
    transform: rotate(14deg);
    transform-origin: 50% -60px;
  }
  @keyframes stormy {
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes stormy_shadow {
    50% {
      transform: translateY(20px) scale(.7);
      opacity: 0.05;
    }
  }
  @keyframes stormy_thunder {
    0% {
      transform: rotate(20deg);
      opacity: 1;
    }

    5% {
      transform: rotate(-34deg);
      opacity: 1;
    }

    10% {
      transform: rotate(0deg);
      opacity: 1;
    }

    15% {
      transform: rotate(-34deg);
      opacity: 0;
    }
  }

  .snowy {
    animation: snowy 5s ease-in-out infinite 1s;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: #FFFFFF 65px -15px 0 -5px, #FFFFFF 25px -25px, #FFFFFF 30px 10px, #FFFFFF 60px 15px 0 -10px, #FFFFFF 85px 5px 0 -5px;
    display: block;
    height: 50px;
    width: 50px;
    margin: 0 auto;
    position: relative;
    left: -40px;
    top: 60px;
  }

  .snowy:after {
    animation: snowy_shadow 5s ease-in-out infinite 1s;
    background: #000000;
    border-radius: 50%;
    content: '';
    height: 15px;
    width: 120px;
    opacity: 0.2;
    position: absolute;
    left: 8px;
    bottom: -60px;
    transform: scale(1);
  }

  .snowy:before {
    animation: snowy_snow 2s infinite linear;
    content: '';
    border-radius: 50%;
    display: block;
    height: 7px;
    width: 7px;
    opacity: 0.8;
    transform: scale(.9);
  }
  @keyframes snowy {
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes snowy_shadow {
    50% {
      transform: translateY(20px) scale(.7);
      opacity: 0.05;
    }
  }
  @keyframes snowy_snow {
    0% {
      box-shadow: rgba(238,238,238,0) 30px 30px, rgba(238,238,238,0) 40px 40px, #EEEEEE 50px 75px, #EEEEEE 55px 50px, #EEEEEE 70px 100px, #EEEEEE 80px 95px, #EEEEEE 110px 45px, #EEEEEE 90px 35px;
    }

    25% {
      box-shadow: #EEEEEE 30px 45px, #EEEEEE 40px 60px, #EEEEEE 50px 90px, #EEEEEE 55px 65px, rgba(238,238,238,0) 70px 120px, rgba(238,238,238,0) 80px 120px, #EEEEEE 110px 70px, #EEEEEE 90px 60px;
    }

    26% {
      box-shadow: #EEEEEE 30px 45px, #EEEEEE 40px 60px, #EEEEEE 50px 90px, #EEEEEE 55px 65px, rgba(238,238,238,0) 70px 40px, rgba(238,238,238,0) 80px 20px, #EEEEEE 110px 70px, #EEEEEE 90px 60px;
    }

    50% {
      box-shadow: #EEEEEE 30px 70px, #EEEEEE 40px 80px, rgba(238,238,238,0) 50px 100px, #EEEEEE 55px 80px, #EEEEEE 70px 60px, #EEEEEE 80px 45px, #EEEEEE 110px 95px, #EEEEEE 90px 85px;
    }

    51% {
      box-shadow: #EEEEEE 30px 70px, #EEEEEE 40px 80px, rgba(238,238,238,0) 50px 45px, #EEEEEE 55px 80px, #EEEEEE 70px 60px, #EEEEEE 80px 45px, #EEEEEE 110px 95px, #EEEEEE 90px 85px;
    }

    75% {
      box-shadow: #EEEEEE 30px 95px, #EEEEEE 40px 100px, #EEEEEE 50px 60px, rgba(238,238,238,0) 55px 95px, #EEEEEE 70px 80px, #EEEEEE 80px 70px, rgba(238,238,238,0) 110px 120px, rgba(238,238,238,0) 90px 110px;
    }

    76% {
      box-shadow: #EEEEEE 30px 95px, #EEEEEE 40px 100px, #EEEEEE 50px 60px, rgba(238,238,238,0) 55px 35px, #EEEEEE 70px 80px, #EEEEEE 80px 70px, rgba(238,238,238,0) 110px 25px, rgba(238,238,238,0) 90px 15px;
    }

    100% {
      box-shadow: rgba(238,238,238,0) 30px 120px, rgba(238,238,238,0) 40px 120px, #EEEEEE 50px 75px, #EEEEEE 55px 50px, #EEEEEE 70px 100px, #EEEEEE 80px 95px, #EEEEEE 110px 45px, #EEEEEE 90px 35px;
    }
  }
  /* STARRY */
  .starry {
    animation: starry_star 5s ease-in-out infinite;
    background: #fff;
    border-radius: 50%;
    box-shadow: #FFFFFF 26px 7px 0 -1px, rgba(255,255,255,0.1) -36px -19px 0 -1px, rgba(255,255,255,0.1) -51px -34px 0 -1px, #FFFFFF -52px -62px 0 -1px, #FFFFFF 14px -37px, rgba(255,255,255,0.1) 41px -19px, #FFFFFF 34px -50px, rgba(255,255,255,0.1) 14px -71px 0 -1px, #FFFFFF 64px -21px 0 -1px, rgba(255,255,255,0.1) 32px -85px 0 -1px, #FFFFFF 64px -90px, rgba(255,255,255,0.1) 60px -67px 0 -1px, #FFFFFF 34px -127px, rgba(255,255,255,0.1) -26px -103px 0 -1px;
    height: 4px;
    width: 4px;
    opacity: 1;
    margin: 0 auto;
    position: relative;
    left: -17px;
    top: 125px;
  }

  .starry:after {
    animation: starry 5s ease-in-out infinite;
    border-radius: 50%;
    box-shadow: #F5F3CE -25px 0;
    content: '';
    height: 100px;
    width: 100px;
    position: absolute;
    top: -106px;
    transform: rotate(5deg);
    transform-origin: 0 50%;
  }
  @keyframes starry {
    50% {
      transform: rotate(10deg);
    }
  }
  @keyframes starry_star {
    50% {
      box-shadow: rgba(255,255,255,0.1) 26px 7px 0 -1px, #FFFFFF -36px -19px 0 -1px, #FFFFFF -51px -34px 0 -1px, rgba(255,255,255,0.1) -52px -62px 0 -1px, rgba(255,255,255,0.1) 14px -37px, #FFFFFF 41px -19px, rgba(255,255,255,0.1) 34px -50px, #FFFFFF 14px -71px 0 -1px, rgba(255,255,255,0.1) 64px -21px 0 -1px, #FFFFFF 32px -85px 0 -1px, rgba(255,255,255,0.1) 64px -90px, #FFFFFF 60px -67px 0 -1px, rgba(255,255,255,0.1) 34px -127px, #FFFFFF -26px -103px 0 -1px;
    }
  }

  .starryCloud {
    .starry {
      left: -20px;
      top: 140px;

      &:after,
      &:before {
        animation-play-state: paused;
        box-shadow: #F5F3CE -35px 0;
      }
    }

    .cloud {
      left: -20px;
      top: 80px;
      background: lightgrey;
      box-shadow: lightgrey 65px -15px 0 -5px, lightgrey 25px -25px, lightgrey 30px 10px, lightgrey 60px 15px 0 -10px, lightgrey 85px 5px 0 -5px;
      animation-play-state: paused;

      &:after,
      &:before {
        animation-play-state: paused;
        width: 0;
      }
    }
  }

  .starryRain {
    .starry {
      left: -20px;
      top: 140px;

      &:after,
      &:before {
        animation-play-state: paused;
        box-shadow: #F5F3CE -35px 0;
      }
    }

    .rainy {
      left: -20px;
      top: 80px;
      animation-play-state: paused;

      &:after {
        width: 0;
        animation-play-state: paused;
      }
    }
  }

  .starryStorm {
    .starry {
      left: -20px;
      top: 140px;

      &:after,
      &:before {
        animation-play-state: paused;
        box-shadow: #F5F3CE -35px 0;
      }
    }

    .stormy {
      left: -20px;
      top: 80px;
      animation-play-state: paused;

      &:after {
        width: 0;
        animation-play-state: paused;
      }
    }
  }

  .starrySnowy {
    .starry {
      left: -20px;
      top: 140px;

      &:after,
      &:before {
        animation-play-state: paused;
        box-shadow: #F5F3CE -35px 0;
      }
    }

    .snowy {
      left: -20px;
      top: 80px;
      animation-play-state: paused;

      &:after {
        width: 0;
        animation-play-state: paused;
      }
    }
  }

  .fewCloud {
    .cloud {
      left: -30px;
      top: -60px;
      animation-play-state: paused;

      &:after {
        width: 0;
        animation-play-state: paused;
      }
    }
  }

  .mists {
    .cloud {
      animation-play-state: paused;

      &:after {
        width: 0;
        animation-play-state: paused;
      }
    }

    .mist {
      top: 80px;
      width: 130px;
      position: relative;
      margin: 0 auto;

      .mist-box {
        animation: mistbox 3s ease-in-out infinite;
        width: 130px;
        height: 20px;
        border-top: 4px solid white;
        border-bottom: 4px solid white;

        .mist-inner {
          animation: none;
          animation: mistboxin 2s ease-in-out infinite;
          margin-top: 8px;
          border-top: 4px solid white;
        }
      }
    }
    @keyframes mistbox {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
      }
    }
    @keyframes mistboxin {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }
  }

  .weatherContent {
    height: 200px;
    margin-top: 60px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .weatherDescription {
    font-size: 26px;
    width: 344px;
    color: black;
    position: absolute;
    top: 359px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  }

  .temperature {
    position: absolute;
    top: 150px;
    font-size: 45px;
    color: black;
    left: 50%;
    transform: translateX(-50%);
  }

  .mainIndicator {
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: relative;
    top: -38px;

    .pressure {
      position: relative;
      left: 8px;
    }

    .windSpeed {
      sub,
      sup {
        font-size: 15px;
      }
    }
  }

  .sunrise {
    position: absolute;
    top: 250px;
    left: 26px;
    text-align: center;
    width: 100px;
    height: 70px;

    h1 {
      width: 100px;
    }

    h4 {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .sunset {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 70px;
    top: 250px;
    right: 32px;

    h1 {
      width: 100px;
    }

    h4 {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
  }
  .Time{
    text-align: center;
  }


}
